html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

/* Variables */
:root {
  --p-banners: 8.75rem;
  --gap-banners: 3rem;
}

/* Main Container */
.container-main {
  max-width: 1800px;
  padding: 0;
}

/* Navbar */
.navbar-style {
  background-color: #043873;
  max-width: 1800px;
}

#logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
}

#custom-link {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}

.button-login {
  background-color: #ffe492;
  color: #043873;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1.125rem 2.5rem;
  border-radius: 8px;
  line-height: 23px;
  margin-right: 1.5rem;
}

.button-entre {
  max-width: 230px;
  background-color: #4f9cf9;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1.125rem 1.5rem;
  border-radius: 8px;
  line-height: 23px;
}

/* Banner Principal */
.banner-blue-container {
  max-width: 1800px;
  padding: var(--p-banners) 0;
  background-color: #043873;
  color: #ffffff;
  gap: var(--gap-banners);
}

.banner-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner-info {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.img-content {
  max-width: 730px;
}

/* Banners Secundários */
.secontary-banners-container {
  display: flex;
  flex-direction: column;
  margin: var(--p-banners) 0;
  gap: var(--p-banners);
}

/* Banners Secundários 1 e 2 */
.banner-container {
  max-width: 1800px;
  gap: var(--gap-banners);
}

/* Banner Suporte */
.banner-support-container {
  max-width: 1800px;
  padding: var(--p-banners) 0;
  gap: var(--gap-banners);
}

/* Planos e Preços */
.plans-container {
  max-width: 1800px;
  padding: 0 0 var(--p-banners) 0;
}

.plan-cards-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.card-plan {
  width: 100%;
  min-width: 340px;
  max-height: 600px;
  border: #ffe492 1px solid;
  border-radius: 10px;
  max-width: 470px;
  padding: 2.5rem 2.75rem;
}

.plan-price {
  margin: 1rem 0;
  font-weight: 700;
}

.plan-itens {
  margin-bottom: 1.75rem;
  font-weight: 400;
}

.button-plan {
  max-width: 192px;
  background-color: transparent;
  border: #ffe492 1px solid;
  color: #212529;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  border-radius: 8px;
  line-height: 23px;
}

.card-plan-popular {
  width: 100%;
  min-width: 340px;
  background-color: #043873;
  color: #ffffff;
  border-radius: 10px;
  max-width: 470px;
  padding: 5rem 2.75rem;
}

.plan-price-popular {
  color: #ffe492;
  margin: 1rem 0;
  font-weight: 700;
}

.plan-itens-popular {
  font-size: 1.125rem;
  margin-bottom: 1.75rem;
  font-weight: 400;
}

.button-plan-popular {
  max-width: 192px;
  background-color: #4f9cf9;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  border-radius: 8px;
  line-height: 23px;
}

/* Footer */
.footer-container {
  background-color: #043873;
  color: #ffffff;
  padding: var(--p-banners) 0 0 0;
}

.subtitle-links-footer {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.links-footer {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-section-logo,
.footer-section-button {
  max-width: 260px;
}

.divisor {
  border-top: #2e4e73 1px solid;
  margin: 3.75rem 0 1.875rem 0;
}

.select-language {
  gap: 10px;
}

.text-footer-bottom {
  font-weight: 400;
  margin-right: 3rem;
}

.social-media-icons {
  gap: 1.5rem;
}

/* Responsividade */
@media screen and (max-width: 1199px) {
  .banner-title {
    font-size: 2.5rem;
  }
  .plan-cards-container {
    gap: 1rem;
  }
  .card-plan-popular {
    min-width: 300px;
    padding: 5rem 1.5rem;
  }
  .card-plan {
    min-width: 300px;

    max-height: 650px;
    padding: 5rem 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .button-entre {
    margin: 1rem 0rem;
  }
  .plan-cards-container {
    flex-direction: column;
    gap: 0;
  }
}
