* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

/* Variables */
:root {
  --p-banners: 8.75rem 0;
}

/* Navbar */
.navbar-style {
  background-color: #043873;
  max-width: 1800px;
}

#logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
}

#custom-link {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}

.button-login {
  background-color: #ffe492;
  color: #043873;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1.125rem 2.5rem;
  border-radius: 8px;
  line-height: 23px;
  margin-right: 1.5rem;
}

.button-entre {
  background-color: #4f9cf9;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1.125rem 1.5rem;
  border-radius: 8px;
  line-height: 23px;
}

/* Main Container */
.container-main {
  max-width: 1800px;
}

/* Banner 1 */
.banner-blue-container {
  max-width: 1800px;
  background-color: #043873;
  padding: var(--p-banners);
  color: #ffffff;
}

.banner-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner-info {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.img-content {
  max-width: 730px;
}

/* Container banners 2/3 */
.container-banners-2-3 {
  background-color: #ffffff;
}

/* Banner 2 */
.banner2-container {
  max-width: 1600px;
  padding: var(--p-banners);
}

.banner2-info-container {
  color: #212529;
}

.banner2-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner2-info {
  font-size: 1.125rem;
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  .banner-title {
    font-size: 2.5rem;
  }
}
